.bg-primary {
  background-color: #437fc7;
  color: #ffffff;
}

.t-primary {
  color: #ffffff;
}

.bg-secondary {
  background-color: #53bac1;
  color: #e6e6e6;
}

.t-secondary {
  color: #e6e6e6;
}

.bg-tertiary {
  background-color: #ededed;
  color: #e68244;
}

.t-tertiary {
  color: #e68244;
}
